
<nav>
    <a href="https://webpages.charlotte.edu/fpintal/itis3135/z_archives/index.html">Course Page</a> |
    <a href="https://webpages.charlotte.edu/fpintal/itis3135/fproductionz.com/">Design Firm</a> |
    <a href="https://webpages.charlotte.edu/fpintal/itis3135/freakypanda/">Company Site</a> |
    <a href="https://github.com/fpintal">GitHub</a> | 
    <a href="https://fpintal.github.io/">GitHub.io</a> | 
    <a href="https://www.linkedin.com/in/fpintal/">LinkedIn</a> 
 </nav>
 <p>&copy; 2025 Franze Pintal Productionz - We Produce For Your Use!</p>