        
<nav>
    <a href="https://webpages.charlotte.edu/fpintal/">Personal Homepage</a> |
    <a href="https://webpages.charlotte.edu/fpintal/itis3135/z_archives/index.html">Course Page</a> |
    <a href="https://webpages.charlotte.edu/fpintal/itis3135/freakypanda/">Company Site</a> |
    <a href="https://webpages.charlotte.edu/fpintal/itis3135/fproductionz.com/">Design Firm</a> |
    <a href="https://webpages.charlotte.edu/fpintal/itis3135/website_evaluations.html">Website Evaluations</a> |
    <a href="https://webpages.charlotte.edu/fpintal/itis3135/stuff/CraaPy%20PAGE%20lol%20%25.htm">CRAP Website</a> |
    <a href="https://webpages.charlotte.edu/fpintal/itis3135/fccfsjs_outline.html">FCC Outline</a>
  </nav>
  

<br>
